<%- include('layouts/main', {page: '/shop'}) %>
<div class="row">
    <section class="main col-md-9">
      <% if (data.post) { %>
          <item>
          <div class="row">
              <div class="col-4">
              <h2><%= data.post.Title %></h2>
              <img
                  src="<%= data.post.featureImage %>"
                  alt="Feature Image"
                  style="width:100%"
              />
              </div>
  
              <div class="col-8"><br />
              <br />
              <div class="row">
                  <div class="col-12">
                      <%- data.post.body %>
                  <br /><br />
                  <strong>Price:</strong>
                  $ <%= data.post.price %><br />
                  <strong>Category:</strong>
                  <%= data.post.category %><br />
                  <strong>Last Updated:</strong>
                  <%= data.post.postDate %>
                  </div>
              </div>
              </div>
          </div>
          </item>
      <% } %>
    </section>
  
    <aside class="col-md-3">
      <br /><br />
  
      <% if (data.posts && data.posts.length > 0) { %>
          <h4>Items</h4>
          <ul class="list-group">
              <% data.posts.forEach(post => { %>
                  <a href="/shop/<%= data.posts.id %>?category=<%= data.posts.id %>" class="list-group-item">
                      <%= post.Title %>
                  </a>
              <% }) %>
          </ul>
      <% } %>
  
      <% if (data.categories && data.categories.length > 0) { %>
      <h4>Categories</h4>
          <ul class="list-group">
              <% data.categories.forEach(category => { %>
                  <a href="/shop?category=<%= data.categories.id %>" class="list-group-item">
                      <%= category.name %>
                  </a>
              <% }) %>
          </ul>
        <% } else { %>
            <div class="col-md-12 text-center">
                <h2><%= data.message %></h2>
                <p>Please try another Post / Category</p>
            </div>
        <% } %>
    </aside>
  
   
  </div>
  